{% extends 'base.html' %}


{% block content %}
<section class="py-5">
    <div class="px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for i in product %}
            <div class="col mb-5">
                <div class="card h-100" >
                    <img class="card-img-top" src="{{ i.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ i.title }}</h5>
                            <!-- Product price-->
                            <p> {{i.date }}</p>
                            <h4>{{ i.price }} USD </h4>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" style="margin-right: 10px;" href="">ReadMore</a><a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart' id=i.id %}">AddToCArt</a></div>
                    </div>
                </div>
            </div>
            {% endfor%}

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}