{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container h-100"  style="margin-top: 20px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5" style="background-color: rgb(115, 216, 216);">
            <h2 class="text-uppercase text-center mb-5">Login an account</h2>

            <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
              {{ users.errors }}

              <!-- <div class="d-flex justify-content-center"> -->
                <button href="{% url 'base' %}"  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
              <!-- </div> -->

              <p class="text-center mt-5 mb-0" style="color: black;">Don't have an account? <a href="{% url 'registration' %}" class="fw-bold text-body"><u>Register here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}